<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Your Shoppinglist:</h3>

      <!-- When the Shoppinglist is empty -->
      <div class="container" *ngIf="shoppingItems.length === 0">
        <div class="card text-center">
          <div class="card-body">
            <h4 style="color: red">
              Your Shoppinglist is empty! Add some items
            </h4>
          </div>
        </div>
      </div>

      <!-- When the Shoppinglist has Items -->
      <div class="container">
        <app-show-shoppiing-list
          [myShoppingItems]="shoppingItems"
          (myDeletedList)="onListDeleted($event)"
        ></app-show-shoppiing-list>
      </div>
    </div>
  </div>

  <hr />

  <app-enter-shopping-item
    (enteredItem)="onEnterItem($event)"
  ></app-enter-shopping-item>
</div>
