<ol class="list-group list-group-numbered">
  <ng-container *ngFor="let shoppingItem of myShoppingItems">
    <li
      class="list-group-item d-flex justify-content-between align-items-start"
    >
      <div class="ms-2 me-auto">
        <div class="fw-bold" [ngClass]="{ itemDone: doneFlag === true }">
          {{ shoppingItem.itemName }} ({{ shoppingItem.quantity }})
        </div>
      </div>
      <div
        class="btn-group"
        role="group"
        aria-label="Basic mixed styles example"
      >
        <button type="button" class="btn btn-success" (click)="onDoneClicked()">
          <i class="bi bi-cart-check" style="font-size: 1.5rem;"></i>
        </button>
        <button type="button" class="btn btn-primary" (click)="onEditClicked()">
          <i class="bi bi-pencil-square" style="font-size: 1.5rem;"></i>
        </button>
      </div>
    </li>
  </ng-container>

  <div class="container" *ngIf="myShoppingItems.length != 0">
    <div class="d-grid gap-2 col-6 mx-auto">
      <button type="button" class="btn btn-danger" (click)="onDeleteList()">
        <i class="bi bi-trash" style="font-size: 1.5rem;"></i> Delete
      </button>
    </div>   
  </div>

</ol>
